.features__container {
    padding-top: 94px;
}

.features__title--visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features__list {
    display: flex;
    justify-content: space-between;
}

.features__item {
    width: 270px;

    &:nth-child(4n) {
        margin-right: 0;
    }
}

.features__item+.features__item {
    margin-left: 30px;
}


.features__icon__container {
    width: 270px;
    margin-bottom: 30px;
    background-color: var(---secondary-bgd);
    border-radius: 4px;

}

.features__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 100px;
    fill: currentColor;
}

.features__fact {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(---primary-text-color);
    margin-top: auto;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.features__description {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(---title-text-color);
    width: 270px;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
}