.hero {
    background-color: var(---dark-bgd);
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 200px 0;
    align-items: center;
    text-align: center;
    background-image:
        linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/img-hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.hero__title {
    color: var(---primary-white);
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    max-width: 696px;
    margin-bottom: 30px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}


